<div class="flex bg-slate-400 justify-center" cdkDropListGroup>
  <div
    [cdkDropListData]="dogsArray1"
    (cdkDropListDropped)="drop($event)"
    cdkDropList
    class="flex flex-col"
  >
    <div *ngFor="let dog of dogsArray1" cdkDrag>
      <app-dog-card [breed]="dog.breeds[0]" [img]="dog.url"></app-dog-card>
    </div>
  </div>
  <div
    [cdkDropListData]="dogsArray2"
    (cdkDropListDropped)="drop($event)"
    cdkDropList
    class="flex flex-col"
  >
    <div *ngFor="let dog of dogsArray2" cdkDrag>
      <app-dog-card [breed]="dog.breeds[0]" [img]="dog.url"></app-dog-card>
    </div>
  </div>
  <div
    [cdkDropListData]="dogsArray3"
    (cdkDropListDropped)="drop($event)"
    cdkDropList
    class="flex flex-col"
  >
    <div *ngFor="let dog of dogsArray3" cdkDrag>
      <app-dog-card [breed]="dog.breeds[0]" [img]="dog.url"></app-dog-card>
    </div>
  </div>
</div>
